<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Title </title>
</head>

	<body>
        {{>menu}}

        <h1>This is the home page</h1>
        <p>It's getting real in here.</p>
        
        {{>footer}}
</body>
</html>
